# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
venv*/
*.venv
pip-log.txt

# Environment variables
.env

# IDE settings
.idea/
*.iml

# PyCharm settings
*.idea/
*.pyt
*.pyc

# Miscellaneous
.DS_Store

.pytest_cache